.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eeeeee;
  border-radius: 5px;
  margin-bottom: 10px;
}

.material-icons {
  cursor: pointer;
}